<% extends ./base.html %>

<% subskin content %>
<div><h1 class="lefty" style="width: 70%"> Plugins </h1> <div class="righty"><a href="/admin/addplugin">Add a new plugin</a></div><div class="clearer"></div></div>
<% for plugin in <% plugins %> render 'pluginskin' %>

<% subskin 'pluginskin' %>
<div class="plugin">
    <span><% plugin.name %> </span> <span><% plugin.type %> </span> <a href="/admin/plugins/?action=delete&id=<% plugin.key() %>">Delete</a> |
    <% if not <% plugin.activated %> render 'activateplugin' %>
    <% if <% plugin.activated %> render 'deactivateplugin' %>
</div>
<div class="clearer"> </div>

<% subskin 'activateplugin' %>
<a href="/admin/plugins/?action=activate&id=<% plugin.key() %>">Activate</a>

<% subskin 'deactivateplugin' %>
<a href="/admin/plugins/?action=deactivate&id=<% plugin.key() %>">Deactivate</a>
