<% extends ./base.html %>
<% subskin content %>

<h1> Add/edit Post </h1>
<form name="blogpost" action="<% href %>" method="POST">
    <input type="hidden" name="id" value="<% post._id %>"/>
    <h3>Title</h3>
    <input type="text" name="title" size="30" value="<% post.title %>"><br/>
    <h3>Text</h3>
    <textarea id="text" name="text" cols="80" rows="25"><% post.text %></textarea>
<br/>
<input type="submit" name="Save" value="save"/>
</form>
<script type="text/javascript" src="/static/js/mootools.js"></script>
<script type="text/javascript" src="/static/js/mooeditable.js"></script>
<link href="/static/mooeditable.css" rel="stylesheet" type="text/css" media="screen" />
<script type="text/javascript">
    window.addEvent('domready',function(){
            $('text').mooEditable({
                paragraphise: false,
                actions: 'bold italic underline forecolor strikethrough | insertunorderedlist insertorderedlist indent outdent | undo redo | createlink unlink, | image | flash | toggleview | formatBlock justifyleft justifyright justifycenter justifyfull removeformat insertHorizontalRule | pagebreak'
            });
    });
</script>