<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title><% page.title %></title>
<link rel="stylesheet" href="/static/style.css" />
<% render 'skins/default/ga.js' %>
</head>
<body>
    <div id="container">
        <div id="header">
            <div id="menu">
                <ul>
                    <li><a href="/" class="menulink">Main page</a></li>
                    <li><a href="/feed" class="menulink">RSS</a></li>
                    <li><a href="/contact" class="menulink">contact</a></li>
                </ul>
            </div>
            <h1><% blog.name %></h1>
            <h3><% blog.description %></h3>
            <div class="clearer"> </div>
        </div>
        <div id="content">
            <% render content %>
        </div>
    </div>
</body>
</html>

<% subskin content %>
BLOG
